* {
    box-sizing: border-box;
}
body {
    font-family: times;
    font-size: 15pt;
    padding: 0;
    margin: 10;
    background-color: #FFF7F2;
}
.nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 2rem;
    padding: 0 1rem;
    background-color: #BD343E;
    color:#FFF7F2;
}

.nav ul{
    padding: 0;
    margin: 0;
    list-style: none;
    display: flex;
    gap: 1rem;
}
.nav a{
    color:#FFF7F2;
    text-decoration: none;
}

.nav li:hover{
    background-color: #ce656e;
}
.imageBox{
    background-color: #ce656e;;
    padding: 1rem;
    display: flex;
    align-items: center;
    margin: 10;
}
