
body {
    font-family: times;
    font-size: 15pt;
    padding: 0;
    background-color: #FFF7F2;
}
.headline{
    font-family:'Brush Script MT', cursive;
    font-size: 50pt;
    display:flex;
    justify-content: center;
    color: #1f1f1f;
}
.nav{
    display: flex;
    height: 3rem;
    font-size: 20pt;
    justify-content: space-between;
    gap: 2rem;
    padding: 0 1rem;
    background-color: #BD343E;
    color:#FFF7F2;
}

.nav ul{
    padding: 0;
    margin-right: 1rem;
    list-style: none;
    display: flex;
    gap: 1rem;
}
.nav a{
    color:#FFF7F2;
    text-decoration: none;
}

.nav li:hover{
    background-color: #ce656e;
}
.imageBox{
    background-color: #ffd7d6;
    color: #1f1f1f;
    font-size: 20pt;
    max-width: 1024px;
    padding: 1rem;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 2rem;
    display: block;
}
.grid-container {
    display: grid;
    grid-template-columns: auto auto;
    max-width: 1024px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 2rem;
    gap: 1rem;
    
  }
  .cupcake{
    background-color: #ffd7d6;
    padding: 1rem;
    height: fit-content;
  }

  .textfeld-links{
    background-color: #ce656e;
    padding: 10px;
    color: #FFF7F2;
    font-size: 20pt;
  }

  .btn-event{
    background-color: #BD343E;
    text-decoration: none;
    font-size: 2.5vw;
    color:#FFF7F2;
    padding: 10px;
    border-radius: 10px;
    border-color: transparent;
  }
  .events{
    display: grid;
    grid-template-columns: auto auto;
    align-items: center;
    margin: 10px;
    gap: 10px;
  }
 
  .information{
    display: grid;
    grid-template-columns: auto auto;
    gap:1rem;
    padding: 10px;
    margin-left: auto;
    margin-right: auto;
    max-width: 1024px;
  }
  .fragen{
    color: #BD343E;
    font-weight: 700;
    margin:0;
  }
  .impressum{
    color:#BD343E;
    text-decoration: none;
  }
  .center{
    margin-left: auto;
    margin-right: auto;
    display: flex;
    justify-content: center;
  }
  .text-impressum{
    margin: 0;
  }
  .impressum-feld{
    margin-left: 1rem;
    margin-right: auto;
    display: block;
  }
  .card-grid{
    display: grid;
    grid-template-columns: 50% 50%;
    gap:1rem;
    padding-top: 10px;
    margin: 0;

  }
  .card-div{
    padding-left: 2.5rem;
  }
  .textfeld{
    background-color: #ce656e;
    padding: 10px;
    margin-left: 0.5rem;
    margin-right: 0.5rem;
    color: #FFF7F2;
    font-size: 20pt;
  }
  .quiz{
    padding: 0.5rem;
    display:block;
  }
  .inputfield{
    background-color:#ffd7d6;
    border-color: transparent;
    border-radius: 2rem;
    width: 100%;
    
  }
  .inputfield:focus{
    border-color: #ce656e;
    outline: none;
  }
  .kommentar-information{
    color: #BD343E;
    align-self: center;
    display: flex;
    justify-content: center;
    margin-bottom: 1rem;
  }
  .kommentar-eingabe{
    background-color: #ce656e;
    border-radius: 10px;
    padding: 1rem;
    margin-left: 1rem;
    margin-right: 1rem;
    margin-bottom: 1rem;
  }
  .btn-kommentar{
    display: flex;
    justify-content: center;
    margin-top: 0;
  }
  .kommentar-headline{
    color: #BD343E;
    display: flex;
    justify-content: center;
  }
  .alte-kommentare{
    display: grid;
    grid-template-columns: auto auto;
    width:fit-content;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 1rem;
    gap: 1rem;
    background-color:#ffd7d6;
    border-radius: 10px;
    padding: 0.5rem;
  }
  .alte-kommentare-block{
    display: block;
    margin-left: 1rem;
    margin-right: 1rem;
  }